#!/usr/bin/env bash

aliases_apt() {
  alias system-update="sudo apt update -y; sudo apt upgrade -y; sudo apt autoclean; sudo apt autoremove"
}

aliases_cron() {
  alias cron_run="/usr/sbin/anacron -sfn -t \${HOME}/.anacron/etc/anacrontab -S \${HOME}/.anacron/spool"
  alias cron_logs="tail -n30 \${HOME}/*_LOG"
}

aliases_docker() {
  alias docker-clean="sudo docker system prune --all --volumes --force"
}

aliases_utils() {
  alias reload='exec ${SHELL} -l'
  alias path='echo -e ${PATH//:/\\n}'
}

aliases_vim() {
  alias dim='xargs nvim -d'
  alias pim='xargs nvim -p'
  alias vim='nvim'
  alias vimso='nvim -c ":so ./Session.vim"'
}

aliases_common_directories() {
  alias dot='cd ~'
  alias dev='cd ~/Desenvolvimento'
}

aliases_git() {
  alias gst='git status'
  alias gl='git pull'
  alias gp='git push'
  alias gac='git add -A && git commit -m'
  alias ga='git add -A'
  alias gc='git commit'
  alias gcm='git commit -m'
  alias gb='git branch'
  alias gco='git checkout'
  alias gcob='git checkout -b'
  alias glog='git log'
  alias ghist='git -P log --oneline --graph --decorate --all'
  alias gd='git diff'
  alias gsh='git show'
  alias gs='git stash --include-untracked'
  alias gopen='git open'
  alias gcl='git clone'
  alias glt='git -P tag --sort=taggerdate --format "%(tag)" | tail -n1'

  # USAGE: ghash -n1 | gfs
  # USAGE: ghash -n1 | gf | pim
  alias ghash="git -P log --oneline --format='%h'"
  alias gf="xargs -I {} bash -c '1>&2 echo -- commit {}; git -P diff --no-commit-id --name-only -r {}^ {}'"
  alias gfs="xargs -I {} bash -c '1>&2 echo -- commit {}; git -P diff --no-commit-id --name-status -r {}^ {}'"
}

aliases_clip() {
  alias c="xclip -sel clip"
}

aliases_mlr() {
  alias j2cw='mlr --j2c flatten "then" unsparsify --fill-with "-"'
  alias j2cl='mlr --j2c  flatten "then" unsparsify --fill-with "-" "then"  reshape -r "." -o key,value'
}

main() {
  aliases_apt
  aliases_cron
  aliases_docker
  aliases_utils
  aliases_vim
  aliases_common_directories
  aliases_git
  aliases_clip
  aliases_mlr
}

main
