#!/usr/bin/env bash

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usage.
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Canonical hex dump; some systems have this symlinked
command -v hd > /dev/null || alias hd="hexdump -C"

# macOS has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# macOS has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Trim new lines and copy to clipboard
alias clip="tr -d '\n' | xclip -sel clip"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# Fzf Preview
alias fzfp="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}'"

# Vim is now Neovim
alias vim='nvim'
alias vimso='nvim -c ":so ./Session.vim"'

# Go to DEV dir
alias dev='cd ~/Desenvolvimento'
alias dot='cd ~'
